/* Widget css */
.re-zip-widget {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.re-zip-block {
  text-align: center;
  background-color: var(--rezip-color-background) !important;
}
.re-zip-block--border {
  border: 1px solid var(--rezip-color-border) !important;
  border-radius: var(--rezip-corner-radius) !important;
}
.re-zip-block--shadow {
  /*box-shadow: 0.94px 1.88px 1.88px 1.88px rgba(0, 0, 0, 0.19);*/
  box-shadow: 0.94px 1.88px 1.88px 1.88px color-mix(in srgb, var(--rezip-color-border), transparent 50%);
  border-radius: var(--rezip-corner-radius);
}
.re-zip-block--tight {
  margin: 0 auto !important;
}
.re-zip-block--normal {
  margin: 8px auto !important;
}
.re-zip-block--loose {
  margin: 15px auto !important;
}

.re-zip-widget__inner {
  display: flex;
  align-items: start;
  padding: 14px 10px;
  text-align: left;
}
.re-zip-widget__inner--left {
  text-align: left;
}
.re-zip-widget__inner--center {
  text-align: center;
}
.re-zip-widget__inner--right {
  text-align: right;
}

.re-zip-widget__image-wrapper {
  flex: 1;
  flex-basis: 65px;
  max-width: 65px;
  text-align: center;
  align-self: start;
}
.re-zip-widget__image {
  max-width: 100%;
  height: auto;
  display: block;
}
.re-zip-block--large .re-zip-widget__image-wrapper {
  align-self: start;
}
.re-zip-block--small .re-zip-widget__image-wrapper,
.re-zip-block--mini  .re-zip-widget__image-wrapper {
  flex-basis: 20px;
  max-width: 20px;
}
.re-zip-block--small .re-zip-widget__image {
  margin-bottom: -5px;
}
.re-zip-block--mini .re-zip-widget__switch {
  margin-bottom: -3px;
}

.re-zip-widget__content {
  padding-left: 10px;
  flex: 1;
  flex-basis: 70%;
}
.re-zip-block--mini  .re-zip-widget__content {
  align-self: center;
}
.re-zip-widget__content .re-zip-widget__title-added {
  display: none;
}
.re-zip-widget__content.added .re-zip-widget__title {
  display: none;
}
.re-zip-widget__content.added .re-zip-widget__title-added {
  display: block;
}
.re-zip-widget__content .re-zip-widget__text-added {
  display: none;
}
.re-zip-widget__content.added .re-zip-widget__text {
  display: none;
}
.re-zip-widget__content.added .re-zip-widget__text-added {
  display: block;
}

.re-zip-widget__toggle-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  position: relative;
  padding-left: 10px;
  padding-top: 0px;
  flex: 1;
  flex-basis: 12%;
}
.re-zip-widget__toggle-wrapper.re-zip-widget__toggle-wrapper--checkbox {
  padding-top: 6px;
}
.re-zip-block--small .re-zip-widget__toggle-wrapper,
.re-zip-block--mini  .re-zip-widget__toggle-wrapper {
  flex-basis: 19%;
}
.re-zip-block--mini  .re-zip-widget__toggle-wrapper {
  align-self: center;
  justify-content: center;
}
.re-zip-block--mini  .re-zip-widget__toggle-wrapper .re-zip-widget__price {
  position: absolute;
  top: 2px;
  right: 34px;
  line-height: 11px;
}
.re-zip-widget__switch--checkbox {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.re-zip-widget__switch--checkbox input,
.re-zip-widget__switch--toggle input {
  position: absolute !important;
  opacity: 0 !important;
  cursor: pointer !important;
  height: 0 !important;
  width: 0 !important;
}
.re-zip-widget__switch--checkbox .re-zip-widget__checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 !important;
}
.re-zip-widget__switch--checkbox .re-zip-widget__checkmark--black {
  border: 1px solid #000000;
}
.re-zip-widget__switch--checkbox .re-zip-widget__checkmark--green,
.re-zip-widget__switch--checkbox .re-zip-widget__checkmark--white {
  border: 1px solid #00443C;
}
.re-zip-widget__switch--checkbox:hover input ~ .re-zip-widget__checkmark {
  background-color: #ccc;
}
.re-zip-widget__switch--checkbox input:checked ~ .re-zip-widget__checkmark--green,
.re-zip-widget__switch--checkbox input:checked ~ .re-zip-widget__checkmark--white {
  background-color: #00443C;
}
.re-zip-widget__switch--checkbox input:checked ~ .re-zip-widget__checkmark--black {
  background-color: #000000;
}
.re-zip-widget__switch--toggle input:checked ~ .re-zip-widget__checkmark--yellow{
  background-color: #FFDC00;
}
.re-zip-widget__switch--checkbox .re-zip-widget__checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.re-zip-widget__switch--checkbox input:checked ~ .re-zip-widget__checkmark:after {
  display: block;
}

.re-zip-widget__switch--toggle {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}
.re-zip-widget__switch--toggle .re-zip-widget__checkmark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  margin: 0 !important;
}
.re-zip-widget__switch--toggle .re-zip-widget__checkmark:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.re-zip-widget__switch--toggle input:checked + .re-zip-widget__checkmark--green,
.re-zip-widget__switch--toggle input:checked + .re-zip-widget__checkmark--white {
  background-color: #00443C;
}
.re-zip-widget__switch--toggle input:checked + .re-zip-widget__checkmark--black {
  background-color: #000000;
}
.re-zip-widget__switch--toggle input:checked ~ .re-zip-widget__checkmark--action {
  background-color: #9FE870;
}
.re-zip-widget__switch--toggle input:focus + .re-zip-widget__checkmark {
  box-shadow: 0 0 1px #2196F3;
}
.re-zip-widget__switch--toggle input:checked + .re-zip-widget__checkmark:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.re-zip-widget__title {
  color: var(--rezip-color-block-title) !important;
  font-size: var(--rezip-font-block-title) !important;
  font-weight: var(--rezip-weight-block-title) !important;
  font-style: var(--rezip-style-block-title) !important;
  margin: 0px;
}
.re-zip-widget__text {
  color: var(--rezip-color-block-description) !important;
  font-size: var(--rezip-font-block-description) !important;
  font-weight: var(--rezip-weight-block-description) !important;
  font-style: var(--rezip-style-block-description) !important;
  line-height: 16px !important;
  margin: 0 !important;
  /*max-width: 204px;*/
}
.re-zip-widget__price {
  color: var(--rezip-color-block-title) !important;
  font-size: 11px !important;
  margin: 0 !important;
  white-space: pre;
}
.re-zip-widget__read-more {
  cursor: pointer;
  color: var(--rezip-color-block-description) !important;
  font-size: var(--rezip-font-block-description) !important;
  font-weight: var(--rezip-weight-block-description) !important;
  font-style: var(--rezip-style-block-description) !important;
  text-decoration: underline;
}

/* Popup css */
.re-zip-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}
.re-zip-popup.open {
  display: block;
  z-index: 1000000000;
}
.re-zip-popup__close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer !important;
  font-size: 32px;
  line-height: 20px;
}
.re-zip-popup__close .re-zip-popup__close-svg {
  width: 20px;
  height: 20px;
}
.re-zip-popup__modal {
  position: fixed;
  max-height: 90vh;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 40px 20px;
  z-index: 10;
  border-radius: 8px;
}
.re-zip-popup__modal-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.re-zip-popup__body {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.re-zip-popup__image {
  flex-basis: 100%;
  max-width: 100%;
}
.re-zip-popup__image img {
  max-width: 100%;
}

.re-zip-popup__content {
  flex-basis: 100%;
  max-width: 100%;
  color: #000000 !important;
  font-family: "Manrope", sans-serif !important;
  font-weight: normal !important;
  font-size: 12px !important;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .re-zip-popup__body {
    flex-direction: row;
  }
  .re-zip-popup__image {
    flex-basis: 40%;
    max-width: 40%;
  }
  .re-zip-popup__content {
    flex-basis: 60%;
    max-width: 60%;
  }
}
.re-zip-popup__title {
  font-family: "Black Han Sans", sans-serif !important;
  color: #000000 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
.re-zip-popup__main-text {
  font-size: 11px !important;
  line-height: 12px !important;
}
.re-zip-popup__steps {
  list-style: none;
  padding: 20px 0 0 0;
}
.re-zip-popup__step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.re-zip-popup__step-number-wrapper {
  margin: 0;
}
.re-zip-popup__step-number {
  font-family: "Black Han Sans", sans-serif !important;
  font-size: 24px !important;
  line-height: 24px !important;
  padding: 4px 8px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 100%;
  margin: 0;
}
.re-zip-popup__step-content-wrapper {
  padding-left: 10px;
}
.re-zip-popup__step-title {
  font-size: 11px !important;
  line-height: 12px !important;
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
}
.re-zip-popup__step-content {
  font-size: 11px !important;
  line-height: 12px !important;
  margin: 0;
}
